<div id="contato" class="row p-4 d-flex justify-content-center">    
    <div class="text-center col-lg-3 col-md-4 col-sm">
        <img src="img\logo.png" alt="Logo Casa Solar">
        <h3 class="pl-3 text-light">Casa Solar</h3>
        <h5 class="pl-3 text-success">Pense Verde</h5>
    </div>
    <address class="text-light col-lg-3 col-md-4 col-sm">
        <h5><b>Endereço:</b></h5>
        R. da Glória, 279 - 5º ander<br>
        Liberdade, São Paulo, SP<br>
        01510-001 <br>
        contato@casasolar.com.br
    </address>
    <div class="m-3">
        <div class="row h-100">
            <a class="rounded-circle" href="https://www.linkedin.com/in/bruno-pasquotto-casagrande-690910138/" name="linkedin"></a>
            <a class="rounded-circle" href="https://github.com/BrCasagrande" name="github"></a>
            <a class="rounded-circle" href="#" name="youtube"></a>
            <a class="rounded-circle" href="#" name="facebook"></a>
            <a class="rounded-circle" href="#" name="twitter"></a>       
        </div>
    </div>
  </div>