<img class="img-fluid" src="img/p3.png" alt="Painéis">
<div class="text-center">
        <div class="container m-5">
                <h2>Produza sua Própria Energia Limpa</h2>
                <p>Painéis solares produzem energia renovável e aumentam sua independência. 
                Nossos painéis excedem os padrões da indústria em termos de durabilidade e 
                vida útil.</p>
        </div>
        <div class="row">
                <div class="col-lg-6 bk">
                        <div class="painelT p-5">
                                <h4>Painéis com um design elegante e discreto</h4>
                                <p>Nossos painéis solares se misturam ao seu teto com 
                                saias frontais integradas e nenhum hardware de montagem 
                                visível. O resultado é uma aparência limpa e simplificada.</p>
                        </div>
                </div>
                <div class="col-lg-6">
                        <img class="img-fluid" src="img/p1.png">
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                        <img class="img-fluid" src="img/p2.png">
                </div>
                <div class="col-lg-6 bk">
                        <div class="painelT p-5">
                                <h4>Painéis Solares Monocristalinos</h4>
                                <p>Feitos de células monocristalinas de silício,
                                possuem a eficiência mais alta com cor uniforme, 
                                indicando silício de alta pureza.</p>
                        </div>
                </div>
        </div>
</div>
                

        <style>
                .painelT{
                        top: 25%;
                        position: absolute;
                        
                }
                .bk{
                        background-color: #f2f2f2;
                }
                .col-lg-6{
                        padding-left: 0;
                        padding-right: 0;
                }
        </style>