<div id="produtos" class="container">
    <div id="navProdutos">
        <ul class="nav justify-content-end border-bottom">
            <h1 id="hp" class="mr-auto"></h1>
            <li class="nav-item">
                <a class="nav-link" href="#" value="paineis">Painéis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" value="baterias">Baterias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" value="telhas">Telhas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" value="inversores">Inversores</a>
            </li>
        </ul>
    </div>
</div>
<pcontent></pcontent>