<div id="produtos" class="container">
    <div id="navProdutos">
        <h1></h1>
        <ul class="nav justify-content-end border-bottom">
            <li class="nav-item">
                <a class="nav-link active text-dark" href="#">Painéis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Baterias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Telhas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inversores</a>
            </li>
        </ul>
    </div>
</div>