<div class="container m-5">
  <h1></h1>
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="valor">Valor da Conta</label>
        <input type="number" class="form-control" id="valor" placeholder="R$" required>
        
      </div>
      <div class="col-md-4 mb-3">
        <label for="consumo">Consumo</label>
        <input type="number" class="form-control" id="consumo" placeholder="Kw" required>      
      </div>      
    </div>
    <button class="btn btn-primary" type="submit">Calcular</button>
  </form>      
</div>
<result class="row bg-warning text-center"></result>

<style>
  #res{
    padding: 0.25em;
  }
  result h3{
    color: #fff;
  }
  result h5{
    color: #099042;
  }
</style>
<script>
  $('button').click(() => {
    let valor = $('#valor').val();
    let consumo = $('#consumo').val(); 
    let anual = valor*consumo*12;
    let painelMes = ((270*6)/1000)*30;
    let preco = 560;
    let qdtPainel = Math.floor(consumo/painelMes);
    let precoWatt = valor/consumo;
    let total = qdtPainel*preco;
    let mensal = (painelMes*qdtPainel*precoWatt).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    let trintaAnos = (painelMes*qdtPainel*12*30).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
      let eco = `<div class="col-6">
                  <div id="res">
                    <h3>Investimento</h3>
                    <h5>R$ ${total}</h5>
                    <p><b>Qtde de painéis:</b> ${qdtPainel} x 270w</p>
                    <p><b>Recuperação:</b> ${Math.ceil(total/valor)} meses</p>
                    <p><b>Valor do Kw:</b> ${(precoWatt).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</p>
                    <p><b>Produção mensal:</b> ${(painelMes*qdtPainel).toFixed(2)} Kw</p>
                    <p><b>Economia mensal:</b> ${mensal}</p>
                    <p><b>Economia em 30 anos:</b> ${(trintaAnos)}</p>
                  </div>
                </div>                
                `;       
      $('result').html(eco);
  });
</script>